<div id="masonry-container" class="transitions-enabled">
  <br>
  <div class="text-center">
    <% @competitions.each do |competition| %>
      <div class="box panel panel-default">
        <%= link_to image_tag(competition.image.url(:medium)), competition %>
          <div class="panel-body" id="competition-button">
            <h3><%= competition.brandname %></h3>
            <div class="panel-footer">
              <% if current_user && competition.user == current_user %>
                <%= link_to 'Edit', edit_competition_path(competition), class: "btn btn-md" %>
                <%= link_to 'Remove', competition, class: "btn btn-md", method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </div>
          </div>
      </div>
    <% end %>
  </div>
  <br>
</div>
